.home-page {
    // font-family: cursive;
    .el-icon-star-on:before {
        color: #4f94d6;
    }
    .hero-img {
        background-image: url("https://images.unsplash.com/photo-1520568474090-4908017861eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1185&q=80");
        height: 70vh; /* You must set a specified height */
        @include img-background-cover-center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 60px;
        .search-container {
            height: 30px;
            margin-top: 10%;
            display: flex;

            input {
                // font-family: cursive;
                outline: none;
                border: 0;
                border-radius: 5px;
                height: 100%;
                width: 320px;
                padding: 1rem 0rem 1rem 1rem;
            }
            .search-btn {
                // font-family: cursive;
                height: 100%;
                border: 0;
                border-radius: 5px;
                background-color: rgb(247, 113, 113);
                color: #fff;
                margin: 0;
            }
        }
    }
    .cards-container {
        display: flex;
        flex-direction: column;
        max-width: 980px;
        margin: 0 auto;
        padding: 0 15px;
        .type-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        button {
            background-color: #202727;
            color: white;
            border-radius: 7px;
            padding: 9px 12px;
        }
        .exp-list {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            .exp-preview {
                width: 30%;
                height: 360px;
            }
        }
    }
}
