.app-header {
    height: 90px;
    background-color: #0c0d0d;
    color: white;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: white;
        font-size: 22px;
        letter-spacing: 0.5px;
        cursor: pointer;
    }
    .logo {
        max-width: 240px;
    }
    .router-header > * {
        margin-inline-start: 20px;
    }
}
