li.exp-preview {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    border: 0.5px solid lightgray;
    border-radius: 8px;
    p {
        line-height: 1.2rem;
    }
    &:not(:last-child) {
        margin-inline-start: 0.65%;
        margin-inline-end: 0.65%;
    }
    > *:not(:first-child) {
        margin: 0 8px 3.8px 8px;
    }
    .el-icon-star-on:before {
        color: #4f94d6;
        font-size: 1.5rem;
        top: 2.6px;
        position: relative;
    }
    &:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
    }
    .exp-preview-img {
        margin-bottom: 5px;
        height: 205px; /* You must set a specified height */
        @include img-background-cover-center;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    .exp-type {
        font-weight: bold;
        text-decoration: underline;
    }
    .exp-preview-type-ticket {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3px;
    }
    .exp-preview-desc {
        font-size: 14px;
    }
    .exp-preview-price-stars-rate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0.5rem 0.3rem 0.5rem;
    }
    .exp-price {
        position: relative;
        left: 230px;
        font-weight: bold;
    }
    .exp-preview-title-seller {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        margin-bottom: 4px;
        .preview-seller {
            display: flex;
            flex-direction: column;
            .seller-img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-bottom: 1px;
            }
            .preview-creator {
                padding-right: 1rem;
                font-size: 10px;
                padding: 0;
            }
        }
    }
}
