.exp-book {
    flex: 0 0 230px;
    height: 268px;
    border: 1px solid #0000004d;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -webkit-margin-start: 40px;
    margin-inline-start: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    .book-btn{
        background-color: #0c0d0df7;
        color: white;
        &:hover{
            background-color: #0c0d0df7;
            color: white;
            opacity: 0.9;
        }
    }
}






