
.footer-app{
    border-top: 1px solid black;
    .footer-container{
        display: flex;
        justify-content: space-between;
        padding: 30px 15px;
        max-width: 980px;
        margin: 0 auto; 
    }

}

