.app-header {
    font-size: 14px;
    top: 0;
    position: absolute;
    height: 55px;
    background-color: #ffffff40;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 2px -1.2px rgba(0,0,0,.2);
    a {
        // color: white;
        color: black;
        font-size: 14px;
        letter-spacing: 0.5px;
        cursor: pointer;
    }
    .logo {
        max-width: 240px;
    }
    .router-header > * {
        margin-inline-start: 20px;
    }
    .router-header{
      display: flex;
    }
    button{
        color: black;
        font-size: 14px;
        letter-spacing: 0.5px;
        cursor: pointer;
        background-color: white;
    }
}
