button {
    border: none;
    // padding: 1rem 2rem;
    // margin: 0;
    text-decoration: none;
    cursor: pointer;
    &:hover, button:focus {
        border: none;
    }
    &:focus {
        outline: none;
        outline-offset: -4px;
    }
    

}

// button:hover, button:focus {
//     border: none;
//     box-shadow: grey;
// }
// button:focus {
//     outline: none;
//     outline-offset: -4px;
// }
