.exp-edit{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 10px;
    margin-top: 65px;
    padding-top: 10px;
    margin-bottom: 10px;
    input[type="text"]{
        border: 1px solid white;
        border-bottom: 1px solid;
    }
    h1{
        text-align: center;
    }
    label{
        font-weight: bold;
    }
    .exp-edit-imgs-container{
        display: flex;
    }
    .exp-edit-imgs{
        margin: 5px;

    }
  
   
    
}