.home-page {

    .el-icon-star-on:before {
        color: #4f94d6;
    }
    .hero-img {
        background-image: url(https://images.unsplash.com/photo-1522163182402-834f871fd851?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=993&q=80);
        height: 80vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        .app-title {
            text-align: center;
            width: 60%;
            color: #052340;
            margin: 45px;
            h1 {
                font-family: serif;
            }
            .ex-dream {
                font-size: 70px;
                font-family: serif;
            }
        }
        .search-container {
            height: 30px;
            // margin-top: 40px;
            display: flex;
            input {
              
                outline: none;
                border: 0;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                font-size: 17px;
                height: 40px;
                width: 320px;
                padding: 1rem 0rem 1rem 1rem;
            }
            .search-btn {   
                height: 40px;
                border: 0;
                font-size: 17px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: #4f94d6;
                color: #fff;
                margin: 0;
                padding: 1px 12px;
            }
        }
    }
    .cards-container {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
        padding-inline-end: 8px;
        .type-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            padding: 0 8px;
            button {
                background-color: white;
                text-decoration: underline;
                transition: 0.12s;
                &:hover {
                    color: #4f94d6;
                }
            }
        }
        .exp-list {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
        }
    }
}
