.home-page {
    .el-icon-star-on:before {
        color: #4f94d6;
    }
    .hero-img {
        background-image: url(https://cdn.pixabay.com/photo/2016/03/09/22/49/ice-climbing-1247606__480.jpg);
        height: 80vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        .app-title {
            text-align: center;
            width: 60%;
            margin: 45px;
            color: #002656;
            h1 {
                font-size: 70px;
                font-family: PassionRegular;
            }
            h2 {
                font-family: PassionRegular;
                font-size: 36px;
            }
        }
        .search-container {
            height: 30px;
            // margin-top: 40px;
            display: flex;
            input {
                outline: none;
                border: 0;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                font-size: 17px;
                height: 40px;
                width: 320px;
                padding: 1rem 0rem 1rem 1rem;
            }
            .search-btn {
                height: 40px;
                border: 0;
                font-size: 17px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: #1e72e0;
                color: #fff;
                margin: 0;
                padding: 1px 12px;
            }
        }
        
    }
    .cards-container {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
        padding-inline-end: 8px;
        .type-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            padding: 0 8px;
            button {
                background-color: white;
                text-decoration: underline;
                transition: 0.12s;
                &:hover {
                    color: rgb(28, 116, 232);
                }
            }
        }
        .exp-list {
            display: flex;
            margin-bottom: 50px;
        }
    }

    @include for-wide-XL-layout {
        .cards-container {
            max-width: 980px;
            .exp-list {
                .exp-preview {
                    width: 31%;
                }
            }
        }
    }
    @include for-wide-layout {
        .cards-container {
            max-width: 700px;
            .exp-list {
                .exp-preview {
                    width: 48%;
                }
            }
        }
    }
}
