.home-page {
    // font-family: cursive;
    .el-icon-star-on:before {
        color: #4f94d6;
    }
    .hero-img {
        background-image: url(https://images.unsplash.com/photo-1520568474090-4908017861eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1185&q=80);
        height: 80vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        .search-container {
            height: 30px;
            margin-top: 10%;
            display: flex;

            input {
                // font-family: cursive;
                outline: none;
                border: 0;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                height: 100%;
                width: 320px;
                padding: 1rem 0rem 1rem 1rem;
            }
            .search-btn {
                // font-family: cursive;
                height: 100%;
                border: 0;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background-color: rgb(247, 113, 113);
                color: #fff;
                margin: 0;
            }
        }
    }
    .cards-container {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
        padding-inline-end: 8px;
        .type-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            padding: 0 8px;
            button {
                background-color: white;
                text-decoration: underline;
                transition: .12s;
                &:hover {
                    color: #4f94d6;
                }
            }
        }
        .exp-list {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
        }
    }
}
