@font-face {
    font-family: Roboto;
    src: url(~@/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoSlab;
    src: url(~@/assets/fonts/Roboto/RobotoSlab-Medium.ttf);
}